body {
  background-color: rgb(0, 0, 0);
  color: white;
  font: 20px Verdana, sans-serif;
  text-align: center;
}

#sectionprincipal {
  position: relative;
  text-align: center;
  background-color: rgb(0, 0, 14);
  padding: 10px;
  width: 50%;
  border-radius: 25px;
  border: 2px solid white;
  box-shadow: 3px 3px 8px rgb(94, 94, 94);
  top: 30px;
  margin: auto;
}

#sectionsecundaria {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.button {
  background-color: rgb(216, 0, 0);
  display: grid;
  align-items: center;
  text-align: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.button.operator {
  background-color: rgb(0, 22, 216);
}
/* o HOVER entende-se como o mouse por cima do botao. entao button:hover faz com que, ao hover (ao ficar acima do botao, a opacity sera de 0.7)
 testa ai alterando font-size, color, para que voce entenda certinho a usagem. assim a gente foge daquele JS atualizando a opacidade. 
 fazendo tudo com a magia do CSS */
.button:hover {
  opacity: 0.7;
}
.result_container {
  width: 26vh;
}
#Leitura,
#Resultado {
  background-color: rgb(31, 0, 59);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgb(61, 61, 61);
  margin-top: 10px;
  width: 100%;
}
