body {
    background-color: rgb(0, 0, 0);
    color: white;
    font: 20px verdana;
    text-align: center;
    
    
}
section#sectionprincipal {
    position: relative;
    text-align: center;
    background-color: rgb(0, 0, 14);
    padding: 10px;
    width: 50%;
    border-radius: 25px;
    border: 2px solid white;
    box-shadow: 3px 3px 8px rgb(94, 94, 94);
    top: 30px;
    margin: auto;
}

div#n1 {
    background-color: rgb(216, 0, 0);
    position: relative;
    display: grid;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    left: 240px;
}
div#n2 {
    background-color: rgb(216, 0, 0);
    position: relative;
    display: grid;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    margin: auto;
    bottom: 50px;
}
div#n3 {
    background-color: rgb(216, 0, 0);
    position: relative;
    display: grid;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    left: 357px;
    bottom: 100px;
}
div#n4 {
    background-color: rgb(216, 0, 0);
    position: relative;
    display: grid;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    left: 240px;
    bottom: 90px;
}
div#n5 {
    background-color: rgb(216, 0, 0);
    position: relative;
    display: grid;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    margin: auto;
    bottom: 140px;
}
div#n6 {
    background-color: rgb(216, 0, 0);
    position: relative;
    display: grid;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    left: 357px;
    bottom: 190px;
}
div#n7 {
    background-color: rgb(216, 0, 0);
    position: relative;
    display: grid;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    left: 240px;
    bottom: 180px;
}
div#n8 {
    background-color: rgb(216, 0, 0);
    position: relative;
    display: grid;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    margin: auto;
    bottom: 230px;
}
div#n9 {
    background-color: rgb(216, 0, 0);
    position: relative;
    display: grid;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    left: 357px;
    bottom: 280px;
}
div#n0 {
    background-color: rgb(216, 0, 0);
    position: relative;
    display: grid;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    margin: auto;
    bottom: 270px;
}
div#soma {
    background-color: rgb(0, 22, 216);
    position: relative;
    display: grid;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    left: 418px;
    bottom: 500px;
}
div#subtração {
    background-color: rgb(0, 22, 216);
    position: relative;
    display: grid;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    left: 418px;
    bottom: 490px;
}
div#divisão {
    background-color: rgb(0, 22, 216);
    position: relative;
    display: grid;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    left: 418px;
    bottom: 530px;
}
div#multiplicação {
    background-color: rgb(0, 22, 216);
    position: relative;
    display: grid;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    left: 418px;
    bottom: 420px;
}
div#igual {
    background-color: rgb(0, 22, 216);
    position: relative;
    display: grid;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    left: 358px;
    bottom: 520px;
}
div#apagar {
    background-color: rgb(0, 22, 216);
    position: relative;
    display: grid;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    left: 237px;
    bottom: 570px;
}
div#Leitura {
    background-color: rgb(31, 0, 59);
    color: rgb(255, 255, 255);
    display: flex;
    position: relative;
    height: 50px ;
    bottom: 200px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(61, 61, 61);

}
div#Resultado {
    background-color: rgb(31, 0, 59);
    color: rgb(255, 255, 255);
    display: flex;
    position: relative;
    height: 50px ;
    bottom: 180px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(61, 61, 61);
}